<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand 3 Chicago datasets  
2.  Load the 3 datasets into 3 tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

For this assignment you will use a snapshot of this dataset which can be downloaded from:<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_SKO/data/Census_Data_-_Selected_socioeconomic_indicators_in_Chicago__2008___2012-v2.csv" target="_blank"> Census Data </a>

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

For this assignment you will use a snapshot of this dataset which can be downloaded from: <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_SKO/data/Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012-v3.csv" target="_blank"> Chicago Public School </a>

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

This dataset is quite large - over 1.5GB in size with over 6.5 million rows. For the purposes of this assignment we will use a much smaller sample of this dataset which can be downloaded from:<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_SKO/data/Chicago_Crime_Data-v2.csv" target="_blank"> Chicago Crime Data </a>

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

1.  **CENSUS_DATA:** <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera/data/Census_Data_-_Selected_socioeconomic_indicators_in_Chicago__2008___2012-v2.csv" target="_blank">Census Dataset</a>

2.  **CHICAGO_PUBLIC_SCHOOLS**  <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera/data/Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012-v3.csv" target="_blank"> Chicago Public School</a>

3.  **CHICAGO_CRIME_DATA:** <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera/data/Chicago_Crime_Data-v2.csv" target="_blank"> Chicago Crime Data </a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II**. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/LOADschool.jpg">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as folows:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

In [2]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://gbs28793:335c%409nv8nn8ptqh@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB

'Connected: gbs28793@BLUDB'

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table

In [3]:
# Rows in Crime table
%sql SELECT COUNT(*) AS TOTAL_CRIMES_RECORDED FROM CHICAGO_CRIME_DATA;

 * ibm_db_sa://gbs28793:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

### Problem 2

##### Retrieve first 10 rows from the CRIME table

In [5]:
%sql SELECT *  FROM CHICAGO_CRIME_DATA LIMIT 10;

 * ibm_db_sa://gbs28793:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(3512276, 'HK587712', datetime.datetime(2004, 8, 28, 17, 50, 56), '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, '6', 1155838, 1873050, 2004, datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.80744050'), Decimal('-87.70395585'), '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', datetime.datetime(2004, 6, 26, 12, 40), '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 'FALSE', 'FALSE', 1112, 11, 27, 23, '6', 1152206, 1906127, 2004, datetime.datetime(2018, 2, 28, 15, 56, 25), Decimal('41.89827996'), Decimal('-87.71640551'), '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', datetime.datetime(2011, 4, 4, 5, 45), '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 'FALSE', 'FALSE', 221, 2, 3, 38, '6', 1177436, 1876313, 2011, datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.81593313'), Decimal('-87.62464213'), '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', datetime.datetime(2010, 12, 30, 16, 30), '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 'FALSE', 'FALSE', 423, 4, 7, 46, '6', 1194622, 1850125, 2010, datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.74366532'), Decimal('-87.56246276'), '(41.743665322, -87.562462756)'),
 (10402076, 'HZ138551', datetime.datetime(2016, 2, 2, 19, 30), '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 'FALSE', 'FALSE', 831, 8, 15, 66, '6', 1155240, 1860661, 2016, datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.77345530'), Decimal('-87.70648047'), '(41.773455295, -87.706480471)'),
 (7732712, 'HS540106', datetime.datetime(2010, 9, 29, 7, 59), '006XX W CHICAGO AVE', '810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 'FALSE', 'FALSE', 1323, 12, 27, 24, '6', 1171668, 1905607, 2010, datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.89644677'), Decimal('-87.64493868'), '(41.896446772, -87.644938678)'),
 (10769475, 'HZ534771', datetime.datetime(2016, 11, 30, 1, 15), '050XX N KEDZIE AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 1713, 17, 33, 14, '6', 1154133, 1933314, 2016, datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.97284491'), Decimal('-87.70860008'), '(41.972844913, -87.708600079)'),
 (4494340, 'HL793243', datetime.datetime(2005, 12, 16, 16, 45), '005XX E PERSHING RD', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 'TRUE', 'FALSE', 213, 2, 3, 38, '6', 1180448, 1879234, 2005, datetime.datetime(2018, 2, 28, 15, 56, 25), Decimal('41.82387989'), Decimal('-87.61350386'), '(41.823879885, -87.613503857)'),
 (3778925, 'HL149610', datetime.datetime(2005, 1, 28, 17, 0), '100XX S WASHTENAW AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 2211, 22, 19, 72, '6', 1160129, 1838040, 2005, datetime.datetime(2018, 2, 28, 15, 56, 25), Decimal('41.71128051'), Decimal('-87.68917910'), '(41.711280513, -87.689179097)'),
 (3324217, 'HK361551', datetime.datetime(2004, 5, 13, 14, 15), '033XX W BELMONT AVE', '820', 'THEFT', '$500 AND UNDER', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 1733, 17, 35, 21, '6', 1153590, 1921084, 2004, datetime.datetime(2018, 2, 28, 15, 56, 25), Decimal('41.93929582'), Decimal('-87.71092344'), '(41.939295821, -87.710923442)')]

### Problem 3

##### How many crimes involve an arrest?

In [6]:
%sql SELECT  COUNT(*) AS ARREST_COUNT  FROM CHICAGO_CRIME_DATA WHERE ARREST = 'TRUE';

 * ibm_db_sa://gbs28793:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('163'),)]

### Problem 4

##### Which unique types of crimes have been recorded at GAS STATION locations?

In [11]:
%sql SELECT DISTINCT PRIMARY_TYPE FROM CHICAGO_CRIME_DATA WHERE LOCATION_DESCRIPTION = 'GAS STATION';

 * ibm_db_sa://gbs28793:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('CRIMINAL TRESPASS',), ('NARCOTICS',), ('ROBBERY',), ('THEFT',)]

Hint: Which column lists types of crimes e.g. THEFT?

### Problem 5

##### In the CENUS_DATA table list all Community Areas whose names start with the letter ‘B’.

In [14]:
%sql SELECT * FROM CENSUS_DATA WHERE COMMUNITY_AREA_NAME LIKE 'B%';

 * ibm_db_sa://gbs28793:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(19, 'Belmont Cragin', Decimal('10.8'), Decimal('18.7'), Decimal('14.6'), Decimal('37.3'), Decimal('37.3'), 15461, 70),
 (47, 'Burnside', Decimal('6.8'), Decimal('33.0'), Decimal('18.6'), Decimal('19.3'), Decimal('42.7'), 12515, 79),
 (58, 'Brighton Park', Decimal('14.4'), Decimal('23.6'), Decimal('13.9'), Decimal('45.1'), Decimal('39.3'), 13089, 84),
 (60, 'Bridgeport', Decimal('4.5'), Decimal('18.9'), Decimal('13.7'), Decimal('22.2'), Decimal('31.3'), 22694, 43),
 (72, 'Beverly', Decimal('0.9'), Decimal('5.1'), Decimal('8.0'), Decimal('3.7'), Decimal('40.5'), 39523, 12)]

In [15]:
%sql SELECT * FROM CENSUS_DATA ;

 * ibm_db_sa://gbs28793:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(1, 'Rogers Park', Decimal('7.7'), Decimal('23.6'), Decimal('8.7'), Decimal('18.2'), Decimal('27.5'), 23939, 39),
 (2, 'West Ridge', Decimal('7.8'), Decimal('17.2'), Decimal('8.8'), Decimal('20.8'), Decimal('38.5'), 23040, 46),
 (3, 'Uptown', Decimal('3.8'), Decimal('24.0'), Decimal('8.9'), Decimal('11.8'), Decimal('22.2'), 35787, 20),
 (4, 'Lincoln Square', Decimal('3.4'), Decimal('10.9'), Decimal('8.2'), Decimal('13.4'), Decimal('25.5'), 37524, 17),
 (5, 'North Center', Decimal('0.3'), Decimal('7.5'), Decimal('5.2'), Decimal('4.5'), Decimal('26.2'), 57123, 6),
 (6, 'Lake View', Decimal('1.1'), Decimal('11.4'), Decimal('4.7'), Decimal('2.6'), Decimal('17.0'), 60058, 5),
 (7, 'Lincoln Park', Decimal('0.8'), Decimal('12.3'), Decimal('5.1'), Decimal('3.6'), Decimal('21.5'), 71551, 2),
 (8, 'Near North Side', Decimal('1.9'), Decimal('12.9'), Decimal('7.0'), Decimal('2.5'), Decimal('22.6'), 88669, 1),
 (9, 'Edison Park', Decimal('1.1'), Decimal('3.3'), Decimal('6.5'), Decimal('7.4'), Decimal('35.3'), 40959, 8),
 (10, 'Norwood Park', Decimal('2.0'), Decimal('5.4'), Decimal('9.0'), Decimal('11.5'), Decimal('39.5'), 32875, 21),
 (11, 'Jefferson Park', Decimal('2.7'), Decimal('8.6'), Decimal('12.4'), Decimal('13.4'), Decimal('35.5'), 27751, 25),
 (12, 'Forest Glen', Decimal('1.1'), Decimal('7.5'), Decimal('6.8'), Decimal('4.9'), Decimal('40.5'), 44164, 11),
 (13, 'North Park', Decimal('3.9'), Decimal('13.2'), Decimal('9.9'), Decimal('14.4'), Decimal('39.0'), 26576, 33),
 (14, 'Albany Park', Decimal('11.3'), Decimal('19.2'), Decimal('10.0'), Decimal('32.9'), Decimal('32.0'), 21323, 53),
 (15, 'Portage Park', Decimal('4.1'), Decimal('11.6'), Decimal('12.6'), Decimal('19.3'), Decimal('34.0'), 24336, 35),
 (16, 'Irving Park', Decimal('6.3'), Decimal('13.1'), Decimal('10.0'), Decimal('22.4'), Decimal('31.6'), 27249, 34),
 (17, 'Dunning', Decimal('5.2'), Decimal('10.6'), Decimal('10.0'), Decimal('16.2'), Decimal('33.6'), 26282, 28),
 (18, 'Montclaire', Decimal('8.1'), Decimal('15.3'), Decimal('13.8'), Decimal('23.5'), Decimal('38.6'), 22014, 50),
 (19, 'Belmont Cragin', Decimal('10.8'), Decimal('18.7'), Decimal('14.6'), Decimal('37.3'), Decimal('37.3'), 15461, 70),
 (20, 'Hermosa', Decimal('6.9'), Decimal('20.5'), Decimal('13.1'), Decimal('41.6'), Decimal('36.4'), 15089, 71),
 (21, 'Avondale', Decimal('6.0'), Decimal('15.3'), Decimal('9.2'), Decimal('24.7'), Decimal('31.0'), 20039, 42),
 (22, 'Logan Square', Decimal('3.2'), Decimal('16.8'), Decimal('8.2'), Decimal('14.8'), Decimal('26.2'), 31908, 23),
 (23, 'Humboldt park', Decimal('14.8'), Decimal('33.9'), Decimal('17.3'), Decimal('35.4'), Decimal('38.0'), 13781, 85),
 (24, 'West Town', Decimal('2.3'), Decimal('14.7'), Decimal('6.6'), Decimal('12.9'), Decimal('21.7'), 43198, 10),
 (25, 'Austin', Decimal('6.3'), Decimal('28.6'), Decimal('22.6'), Decimal('24.4'), Decimal('37.9'), 15957, 73),
 (26, 'West Garfield Park', Decimal('9.4'), Decimal('41.7'), Decimal('25.8'), Decimal('24.5'), Decimal('43.6'), 10934, 92),
 (27, 'East Garfield Park', Decimal('8.2'), Decimal('42.4'), Decimal('19.6'), Decimal('21.3'), Decimal('43.2'), 12961, 83),
 (28, 'Near West Side', Decimal('3.8'), Decimal('20.6'), Decimal('10.7'), Decimal('9.6'), Decimal('22.2'), 44689, 15),
 (29, 'North Lawndale', Decimal('7.4'), Decimal('43.1'), Decimal('21.2'), Decimal('27.6'), Decimal('42.7'), 12034, 87),
 (30, 'South Lawndale', Decimal('15.2'), Decimal('30.7'), Decimal('15.8'), Decimal('54.8'), Decimal('33.8'), 10402, 96),
 (31, 'Lower West Side', Decimal('9.6'), Decimal('25.8'), Decimal('15.8'), Decimal('40.7'), Decimal('32.6'), 16444, 76),
 (32, 'Loop', Decimal('1.5'), Decimal('14.7'), Decimal('5.7'), Decimal('3.1'), Decimal('13.5'), 65526, 3),
 (33, 'Near South Side', Decimal('1.3'), Decimal('13.8'), Decimal('4.9'), Decimal('7.4'), Decimal('21.8'), 59077, 7),
 (34, 'Armour Square', Decimal('5.7'), Decimal('40.1'), Decimal('16.7'), Decimal('34.5'), Decimal('38.3'), 16148, 82),
 (35, 'Douglas', Decimal('1.8'), Decimal('29.6'), Decimal('18.2'), Decimal('14.3'), Decimal('30.7'), 23791, 47),
 (36, 'Oakland', Decimal('1.3'), Decimal('39.7'), Decimal('28.7'), Decimal('18.4'), Decimal('40.4'), 19252, 78),
 (37, 'Fuller Park', Decimal('3.2'), Decimal('51.2'), Decimal('33.9'), Decimal('26.6'), Decimal('44.9'), 10432, 97),
 (38, 'Grand Boulevard', Decimal('3.3'), Decimal('29.3'), Decimal('24.3'), Decimal('15.9'), Decimal('39.5'), 23472, 57),
 (39, 'Kenwood', Decimal('2.4'), Decimal('21.7'), Decimal('15.7'), Decimal('11.3'), Decimal('35.4'), 35911, 26),
 (40, 'Washington Park', Decimal('5.6'), Decimal('42.1'), Decimal('28.6'), Decimal('25.4'), Decimal('42.8'), 13785, 88),
 (41, 'Hyde Park', Decimal('1.5'), Decimal('18.4'), Decimal('8.4'), Decimal('4.3'), Decimal('26.2'), 39056, 14),
 (42, 'Woodlawn', Decimal('2.9'), Decimal('30.7'), Decimal('23.4'), Decimal('16.5'), Decimal('36.1'), 18672, 58),
 (43, 'South Shore', Decimal('2.8'), Decimal('31.1'), Decimal('20.0'), Decimal('14.0'), Decimal('35.7'), 19398, 55),
 (44, 'Chatham', Decimal('3.3'), Decimal('27.8'), Decimal('24.0'), Decimal('14.5'), Decimal('40.3'), 18881, 60),
 (45, 'Avalon Park', Decimal('1.4'), Decimal('17.2'), Decimal('21.1'), Decimal('10.6'), Decimal('39.3'), 24454, 41),
 (46, 'South Chicago', Decimal('4.7'), Decimal('29.8'), Decimal('19.7'), Decimal('26.6'), Decimal('41.1'), 16579, 75),
 (47, 'Burnside', Decimal('6.8'), Decimal('33.0'), Decimal('18.6'), Decimal('19.3'), Decimal('42.7'), 12515, 79),
 (48, 'Calumet Heights', Decimal('2.1'), Decimal('11.5'), Decimal('20.0'), Decimal('11.0'), Decimal('44.0'), 28887, 38),
 (49, 'Roseland', Decimal('2.5'), Decimal('19.8'), Decimal('20.3'), Decimal('16.9'), Decimal('41.2'), 17949, 52),
 (50, 'Pullman', Decimal('1.5'), Decimal('21.6'), Decimal('22.8'), Decimal('13.1'), Decimal('38.6'), 20588, 51),
 (51, 'South Deering', Decimal('4.0'), Decimal('29.2'), Decimal('16.3'), Decimal('21.0'), Decimal('39.5'), 14685, 65),
 (52, 'East Side', Decimal('6.8'), Decimal('19.2'), Decimal('12.1'), Decimal('31.9'), Decimal('42.8'), 17104, 64),
 (53, 'West Pullman', Decimal('3.3'), Decimal('25.9'), Decimal('19.4'), Decimal('20.5'), Decimal('42.1'), 16563, 62),
 (54, 'Riverdale', Decimal('5.8'), Decimal('56.5'), Decimal('34.6'), Decimal('27.5'), Decimal('51.5'), 8201, 98),
 (55, 'Hegewisch', Decimal('3.3'), Decimal('17.1'), Decimal('9.6'), Decimal('19.2'), Decimal('42.9'), 22677, 44),
 (56, 'Garfield Ridge', Decimal('2.6'), Decimal('8.8'), Decimal('11.3'), Decimal('19.3'), Decimal('38.1'), 26353, 32),
 (57, 'Archer Heights', Decimal('8.5'), Decimal('14.1'), Decimal('16.5'), Decimal('35.9'), Decimal('39.2'), 16134, 67),
 (58, 'Brighton Park', Decimal('14.4'), Decimal('23.6'), Decimal('13.9'), Decimal('45.1'), Decimal('39.3'), 13089, 84),
 (59, 'McKinley Park', Decimal('7.2'), Decimal('18.7'), Decimal('13.4'), Decimal('32.9'), Decimal('35.6'), 16954, 61),
 (60, 'Bridgeport', Decimal('4.5'), Decimal('18.9'), Decimal('13.7'), Decimal('22.2'), Decimal('31.3'), 22694, 43),
 (61, 'New City', Decimal('11.9'), Decimal('29.0'), Decimal('23.0'), Decimal('41.5'), Decimal('38.9'), 12765, 91),
 (62, 'West Elsdon', Decimal('11.1'), Decimal('15.6'), Decimal('16.7'), Decimal('37.0'), Decimal('37.7'), 15754, 69),
 (63, 'Gage Park', Decimal('15.8'), Decimal('23.4'), Decimal('18.2'), Decimal('51.5'), Decimal('38.8'), 12171, 93),
 (64, 'Clearing', Decimal('2.7'), Decimal('8.9'), Decimal('9.5'), Decimal('18.8'), Decimal('37.6'), 25113, 29),
 (65, 'West Lawn', Decimal('5.8'), Decimal('14.9'), Decimal('9.6'), Decimal('33.6'), Decimal('39.6'), 16907, 56),
 (66, 'Chicago Lawn', Decimal('7.6'), Decimal('27.9'), Decimal('17.1'), Decimal('31.2'), Decimal('40.6'), 13231, 80),
 (67, 'West Englewood', Decimal('4.8'), Decimal('34.4'), Decimal('35.9'), Decimal('26.3'), Decimal('40.7'), 11317, 89),
 (68, 'Englewood', Decimal('3.8'), Decimal('46.6'), Decimal('28.0'), Decimal('28.5'), Decimal('42.5'), 11888, 94),
 (69, 'Greater Grand Crossing', Decimal('3.6'), Decimal('29.6'), Decimal('23.0'), Decimal('16.5'), Decimal('41.0'), 17285, 66),
 (70, 'Ashburn', Decimal('4.0'), Decimal('10.4'), Decimal('11.7'), Decimal('17.7'), Decimal('36.9'), 23482, 37),
 (71, 'Auburn Gresham', Decimal('4.0'), Decimal('27.6'), Decimal('28.3'), Decimal('18.5'), Decimal('41.9'), 15528, 74),
 (72, 'Beverly', Decimal('0.9'), Decimal('5.1'), Decimal('8.0'), Decimal('3.7'), Decimal('40.5'), 39523, 12),
 (73, 'Washington Height', Decimal('1.1'), Decimal('16.9'), Decimal('20.8'), Decimal('13.7'), Decimal('42.6'), 19713, 48),
 (74, 'Mount Greenwood', Decimal('1.0'), Decimal('3.4'), Decimal('8.7'), Decimal('4.3'), Decimal('36.8'), 34381, 16),
 (75, 'Morgan Park', Decimal('0.8'), Decimal('13.2'), Decimal('15.0'), Decimal('10.8'), Decimal('40.3'), 27149, 30),
 (76, "O'Hare", Decimal('3.6'), Decimal('15.4'), Decimal('7.1'), Decimal('10.9'), Decimal('30.3'), 25828, 24),
 (77, 'Edgewater', Decimal('4.1'), Decimal('18.2'), Decimal('9.2'), Decimal('9.7'), Decimal('23.8'), 33385, 19),
 (None, 'CHICAGO', Decimal('4.7'), Decimal('19.7'), Decimal('12.9'), Decimal('19.5'), Decimal('33.5'), 28202, None)]

### Problem 6

##### Which schools in Community Areas 10 to 15 are healthy school certified?

In [21]:
%sql select S.NAME_OF_SCHOOL,C.COMMUNITY_AREA_NUMBER,C.COMMUNITY_AREA_NAME,S.healthy_school_certified from CENSUS_DATA as  C \
LEFT OUTER JOIN CHICAGO_PUBLIC_SCHOOLS as S \
on UPPER(C.COMMUNITY_AREA_NAME) = UPPER(S.community_area_name) \
where C.COMMUNITY_AREA_NUMBER between 10 and 15 AND \
S.healthy_school_certified = 'Yes';

 * ibm_db_sa://gbs28793:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('Rufus M Hitch Elementary School', 10, 'Norwood Park', 'Yes')]

### Problem 7

##### What is the average school Safety Score?

In [22]:
%sql select AVG(safety_score) as AVERAGE_SCORE from CHICAGO_PUBLIC_SCHOOLS;

 * ibm_db_sa://gbs28793:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

### Problem 8

##### List the top 5 Community Areas by average College Enrollment [number of students]

In [23]:
%sql select COMMUNITY_AREA_NAME,AVG(COLLEGE_ENROLLMENT) as COLLEGE_ENROLLMENT_AVG \
from CHICAGO_PUBLIC_SCHOOLS GROUP BY COMMUNITY_AREA_NAME order by COLLEGE_ENROLLMENT_AVG desc LIMIT 5;

 * ibm_db_sa://gbs28793:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('ARCHER HEIGHTS', Decimal('2411.500000')),
 ('MONTCLARE', Decimal('1317.000000')),
 ('WEST ELSDON', Decimal('1233.333333')),
 ('BRIGHTON PARK', Decimal('1205.875000')),
 ('BELMONT CRAGIN', Decimal('1198.833333'))]

### Problem 9

##### Use a sub-query to determine which Community Area has the least value for school Safety Score?

In [28]:
%sql select COMMUNITY_AREA_NAME, SAFETY_SCORE from CHICAGO_PUBLIC_SCHOOLS WHERE SAFETY_SCORE IN (select MIN(SAFETY_SCORE) from CHICAGO_PUBLIC_SCHOOLS);

 * ibm_db_sa://gbs28793:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('WASHINGTON PARK', 1)]

### Problem 10

##### [Without using an explicit JOIN operator] Find the Per Capita Income of the Community Area which has a school Safety Score of 1.

In [31]:
%sql select  COMMUNITY_AREA_NAME,per_capita_income \
from CENSUS_DATA \
where community_area_number = (select community_area_number from CHICAGO_PUBLIC_SCHOOLS where safety_score = 1);

 * ibm_db_sa://gbs28793:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('Washington Park', 13785)]

In [30]:
%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'CHICAGO_PUBLIC_SCHOOLS';

 * ibm_db_sa://gbs28793:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('School_ID', 'INTEGER', 4),
 ('NAME_OF_SCHOOL', 'VARCHAR', 65),
 ('Elementary, Middle, or High School', 'VARCHAR', 2),
 ('Street_Address', 'VARCHAR', 30),
 ('City', 'VARCHAR', 7),
 ('State', 'VARCHAR', 2),
 ('ZIP_Code', 'INTEGER', 4),
 ('Phone_Number', 'VARCHAR', 14),
 ('Link', 'VARCHAR', 78),
 ('Network_Manager', 'VARCHAR', 40),
 ('Collaborative_Name', 'VARCHAR', 34),
 ('Adequate_Yearly_Progress_Made_', 'VARCHAR', 3),
 ('Track_Schedule', 'VARCHAR', 12),
 ('CPS_Performance_Policy_Status', 'VARCHAR', 16),
 ('CPS_Performance_Policy_Level', 'VARCHAR', 15),
 ('HEALTHY_SCHOOL_CERTIFIED', 'VARCHAR', 3),
 ('Safety_Icon', 'VARCHAR', 11),
 ('SAFETY_SCORE', 'SMALLINT', 2),
 ('Family_Involvement_Icon', 'VARCHAR', 11),
 ('Family_Involvement_Score', 'VARCHAR', 3),
 ('Environment_Icon', 'VARCHAR', 11),
 ('Environment_Score', 'SMALLINT', 2),
 ('Instruction_Icon', 'VARCHAR', 11),
 ('Instruction_Score', 'SMALLINT', 2),
 ('Leaders_Icon', 'VARCHAR', 11),
 ('Leaders_Score', 'VARCHAR', 3),
 ('Teachers_Icon', 'VARCHAR', 11),
 ('Teachers_Score', 'VARCHAR', 3),
 ('Parent_Engagement_Icon', 'VARCHAR', 7),
 ('Parent_Engagement_Score', 'VARCHAR', 3),
 ('Parent_Environment_Icon', 'VARCHAR', 7),
 ('Individualized_Education_Program_Compliance_Rate', 'VARCHAR', 7),
 ('Pk_2_Literacy__', 'VARCHAR', 4),
 ('Pk_2_Math__', 'VARCHAR', 4),
 ('Gr3_5_Grade_Level_Math__', 'VARCHAR', 4),
 ('Gr3_5_Grade_Level_Read__', 'VARCHAR', 4),
 ('Gr3_5_Keep_Pace_Read__', 'VARCHAR', 4),
 ('Gr3_5_Keep_Pace_Math__', 'VARCHAR', 4),
 ('Gr6_8_Grade_Level_Math__', 'VARCHAR', 4),
 ('Gr6_8_Grade_Level_Read__', 'VARCHAR', 4),
 ('Gr6_8_Keep_Pace_Math_', 'VARCHAR', 4),
 ('Gr6_8_Keep_Pace_Read__', 'VARCHAR', 4),
 ('Parent_Environment_Score', 'VARCHAR', 3),
 ('AVERAGE_STUDENT_ATTENDANCE', 'VARCHAR', 6),
 ('Rate_of_Misconducts__per_100_students_', 'DECIMAL', 5),
 ('Average_Teacher_Attendance', 'VARCHAR', 6),
 ('Gr_8_Explore_Math__', 'VARCHAR', 4),
 ('Gr_8_Explore_Read__', 'VARCHAR', 4),
 ('ISAT_Exceeding_Math__', 'DECIMAL', 4),
 ('ISAT_Exceeding_Reading__', 'DECIMAL', 4),
 ('ISAT_Value_Add_Math', 'DECIMAL', 3),
 ('ISAT_Value_Add_Read', 'DECIMAL', 3),
 ('ISAT_Value_Add_Color_Math', 'VARCHAR', 6),
 ('ISAT_Value_Add_Color_Read', 'VARCHAR', 6),
 ('Students_Taking__Algebra__', 'VARCHAR', 4),
 ('Students_Passing__Algebra__', 'VARCHAR', 4),
 ('9th Grade EXPLORE (2009)', 'VARCHAR', 4),
 ('9th Grade EXPLORE (2010)', 'VARCHAR', 4),
 ('10th Grade PLAN (2009)', 'VARCHAR', 4),
 ('10th Grade PLAN (2010)', 'VARCHAR', 4),
 ('Net_Change_EXPLORE_and_PLAN', 'VARCHAR', 3),
 ('11th Grade Average ACT (2011)', 'VARCHAR', 4),
 ('Net_Change_PLAN_and_ACT', 'VARCHAR', 3),
 ('College_Eligibility__', 'VARCHAR', 4),
 ('Graduation_Rate__', 'VARCHAR', 4),
 ('College_Enrollment_Rate__', 'VARCHAR', 4),
 ('COLLEGE_ENROLLMENT', 'SMALLINT', 2),
 ('General_Services_Route', 'SMALLINT', 2),
 ('Freshman_on_Track_Rate__', 'VARCHAR', 4),
 ('X_COORDINATE', 'DECIMAL', 13),
 ('Y_COORDINATE', 'DECIMAL', 13),
 ('Latitude', 'DECIMAL', 18),
 ('Longitude', 'DECIMAL', 18),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NAME', 'VARCHAR', 22),
 ('Ward', 'SMALLINT', 2),
 ('Police_District', 'SMALLINT', 2),
 ('Location', 'VARCHAR', 27)]

Copyright © 2020 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description                 |
| ---------- | ------- | ------------- | ---------------------------------- |
| 2020-09-05 | 2.0     | Malika Singla | Moved lab to course repo in GitLab |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>